In [1]:
import pandas as pd
import numpy as np

In [21]:
# Load the data into a Pandas DataFrame
school_data_df = pd.read_csv(r'C:\Users\preit\OneDrive\Desktop\Starter_Code\PyCitySchools\Resources\UCI-VIRT-DATA-PT-12-2024-U-LOLC-MWTH\02-Homework\04-Data-Analysis-Pandas\Starter_Code\PyCitySchools\Resources\schools_complete.csv')
student_data_df=pd.read_csv(r'C:\Users\preit\OneDrive\Desktop\Starter_Code\PyCitySchools\Resources\UCI-VIRT-DATA-PT-12-2024-U-LOLC-MWTH\02-Homework\04-Data-Analysis-Pandas\Starter_Code\PyCitySchools\Resources\students_complete.csv')

merge data

In [24]:
# Merge the school_data and student_data on the common column (e.g., school_name)
merged_data = pd.merge(student_data_df , school_data_df, on="school_name")

district summary

In [26]:
# Calculate the district summary metrics using the merged data
total_schools = merged_data['school_name'].nunique()
total_students = merged_data['size'].sum()
total_budget = merged_data['budget'].sum()
average_math_score = merged_data['math_score'].mean()
average_reading_score = merged_data['reading_score'].mean()

# Calculate percentage passing math and reading
passing_math = (merged_data['math_score'] >= 70).mean() * 100
passing_reading = (merged_data['reading_score'] >= 70).mean() * 100

# Calculate overall passing percentage (students passing both math and reading)
overall_passing = ((merged_data['math_score'] >= 70) & (merged_data['reading_score'] >= 70)).mean() * 100

# Create the district summary
district_summary = {
    "Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "Passing Math (%)": passing_math,
    "Passing Reading (%)": passing_reading,
    "Overall Passing (%)": overall_passing
}

# Convert to DataFrame for better display
district_summary_df = pd.DataFrame([district_summary])

# Display the district summary
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing (%)
0,15,130551930,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

school summary

In [28]:
# Calculate per student budget
merged_data['per_student_budget'] = merged_data['budget'] / merged_data['size']

# Calculate average scores and passing percentages for each school
school_summary = merged_data.groupby('school_name').agg(
    Total_Students=('size', 'sum'),
    Total_Budget=('budget', 'sum'),
    Per_Student_Budget=('per_student_budget', 'mean'),
    Average_Math_Score=('math_score', 'mean'),
    Average_Reading_Score=('reading_score', 'mean'),
    Passing_Math=('math_score', lambda x: (x >= 70).mean() * 100),
    Passing_Reading=('reading_score', lambda x: (x >= 70).mean() * 100),
    Overall_Passing=('math_score', lambda x: ((x >= 70) & (merged_data.loc[x.index[0]]['reading_score'] >= 70)).mean() * 100)
).reset_index()

# Display the school summary
school_summary

,school_name,Total_Students,Total_Budget,Per_Student_Budget,Average_Math_Score,Average_Reading_Score,Passing_Math,Passing_Reading,Overall_Passing
0,Bailey High School,24760576,15549641728,628.0,77.048432,81.033963,66.680064,81.933280,66.680064
1,Cabrera High School,3452164,2009159448,582.0,83.061895,83.975780,94.133477,97.039828,94.133477
2,Figueroa High School,8696601,5557128039,639.0,76.711767,81.158020,65.988471,80.739234,65.988471
3,Ford High School,7502121,4831365924,644.0,77.102592,80.746258,68.309602,79.299014,0.000000
4,Griffin High School,2155024,1346890000,625.0,83.351499,83.816757,93.392371,97.138965,93.392371
5,Hernandez High School,21483225,14007062700,652.0,77.289752,80.934412,66.752967,80.862999,66.752967
6,Holden High School,182329,105933149,581.0,83.803279,83.814988,92.505855,96.252927,92.505855
7,Huang High School,8508889,5573322295,655.0,76.629414,81.182722,65.683922,81.316421,0.000000
8,Johnson High School,22667121,14733628650,650.0,77.072464,80.966394,66.057551,81.222432,66.057551
9,Pena High School,925444,563595396,609.0,83.839917,84.044699,94.594595,95.945946,94.594595
10,Rodriguez High School,15992001,10186904637,637.0,76.842711,80.744686,66.366592,80.220055,66.366592
11,Shelton High School,3101121,1860672600,600.0,83.359455,83.725724,93.867121,95.854628,93.867121
12,Thomas High School,2673225,1705517550,638.0,83.418349,83.848930,93.272171,97.308869,93.272171
13,Wilson High School,5212089,3012587442,578.0,83.274201,83.989488,93.867718,96.539641,93.867718
14,Wright High School,3240000,1888920000,583.0,83.682222,83.955000,93.333333,96.611111,93.333333

top and buttom performing school

In [29]:
# Sort by overall passing percentage (highest first)
top_schools = school_summary.sort_values('Overall_Passing', ascending=False).head(5)

# Sort by overall passing percentage (lowest first)
bottom_schools = school_summary.sort_values('Overall_Passing', ascending=True).head(5)

# Display the results
top_schools, bottom_schools

(            school_name  Total_Students  Total_Budget  Per_Student_Budget  \
 9      Pena High School          925444     563595396               609.0
 1   Cabrera High School         3452164    2009159448               582.0
 13   Wilson High School         5212089    3012587442               578.0
 11  Shelton High School         3101121    1860672600               600.0
 4   Griffin High School         2155024    1346890000               625.0

     Average_Math_Score  Average_Reading_Score  Passing_Math  Passing_Reading  \
 9            83.839917              84.044699     94.594595        95.945946
 1            83.061895              83.975780     94.133477        97.039828
 13           83.274201              83.989488     93.867718        96.539641
 11           83.359455              83.725724     93.867121        95.854628
 4            83.351499              83.816757     93.392371        97.138965

     Overall_Passing
 9         94.594595
 1         94.133477
 13        93.867718
 11        93.867121
 4         93.392371  ,
               school_name  Total_Students  Total_Budget  Per_Student_Budget  \
 3        Ford High School         7502121    4831365924               644.0
 7       Huang High School         8508889    5573322295               655.0
 2    Figueroa High School         8696601    5557128039               639.0
 8     Johnson High School        22667121   14733628650               650.0
 10  Rodriguez High School        15992001   10186904637               637.0

     Average_Math_Score  Average_Reading_Score  Passing_Math  Passing_Reading  \
 3            77.102592              80.746258     68.309602        79.299014
 7            76.629414              81.182722     65.683922        81.316421
 2            76.711767              81.158020     65.988471        80.739234
 8            77.072464              80.966394     66.057551        81.222432
 10           76.842711              80.744686     66.366592        80.220055

     Overall_Passing
 3          0.000000
 7          0.000000
 2         65.988471
 8         66.057551
 10        66.366592  )

Math and Reading Scores by Grade

In [30]:
# Group by grade and calculate average math and reading scores
math_by_grade = merged_data.groupby('grade')['math_score'].mean()
reading_by_grade = merged_data.groupby('grade')['reading_score'].mean()

# Display results
math_by_grade, reading_by_grade

(grade
 10th    78.941483
 11th    79.083548
 12th    78.993164
 9th     78.935659
 Name: math_score, dtype: float64,
 grade
 10th    81.874410
 11th    81.885714
 12th    81.819851
 9th     81.914358
 Name: reading_score, dtype: float64)

score by school spending

In [31]:
# Create spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]
merged_data['Spending Ranges (Per Student)'] = pd.cut(merged_data['per_student_budget'], bins=spending_bins, labels=spending_labels)

# Group by spending ranges and calculate average scores and passing percentages
spending_summary = merged_data.groupby('Spending Ranges (Per Student)').agg(
    Average_Math_Score=('math_score', 'mean'),
    Average_Reading_Score=('reading_score', 'mean'),
    Passing_Math=('math_score', lambda x: (x >= 70).mean() * 100),
    Passing_Reading=('reading_score', lambda x: (x >= 70).mean() * 100),
    Overall_Passing=('math_score', lambda x: ((x >= 70) & (merged_data.loc[x.index[0]]['reading_score'] >= 70)).mean() * 100)
).reset_index()

# Display spending summary
spending_summary

C:\Users\preit\AppData\Local\Temp\ipykernel_2076\3044285613.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_summary = merged_data.groupby('Spending Ranges (Per Student)').agg(

,Spending Ranges (Per Student),Average_Math_Score,Average_Reading_Score,Passing_Math,Passing_Reading,Overall_Passing
0,<$585,83.363065,83.964039,93.702889,96.686558,93.702889
1,$585-630,79.982873,82.312643,79.109851,88.513145,79.109851
2,$630-645,77.821056,81.301007,70.623565,82.600247,70.623565
3,$645-680,77.049297,81.005604,66.230813,81.109397,0.000000

score by school size

In [32]:
# Create size bins and labels
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
merged_data['School Size'] = pd.cut(merged_data['size'], bins=size_bins, labels=size_labels)

# Group by school size and calculate average scores and passing percentages
size_summary = merged_data.groupby('School Size').agg(
    Average_Math_Score=('math_score', 'mean'),
    Average_Reading_Score=('reading_score', 'mean'),
    Passing_Math=('math_score', lambda x: (x >= 70).mean() * 100),
    Passing_Reading=('reading_score', lambda x: (x >= 70).mean() * 100),
    Overall_Passing=('math_score', lambda x: ((x >= 70) & (merged_data.loc[x.index[0]]['reading_score'] >= 70)).mean() * 100)
).reset_index()

# Display size summary
size_summary

C:\Users\preit\AppData\Local\Temp\ipykernel_2076\1959232304.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_summary = merged_data.groupby('School Size').agg(

,School Size,Average_Math_Score,Average_Reading_Score,Passing_Math,Passing_Reading,Overall_Passing
0,Small (<1000),83.828654,83.974082,93.952484,96.040317,93.952484
1,Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,93.616522
2,Large (2000-5000),77.477597,81.198674,68.652380,82.125158,0.000000